* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
body { 
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    text-align: center;
    padding: 5px;
    background-color: #cdd8f5;
    border-bottom: 1px solid #d0def8;
}
.photo {
    position: absolute; 
    top: 3px;       
    right: 50px;      
    width: 100px;      
    height: 100px;
}
.main-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.main-button {
    padding: 10px 20px;
    background-color: #cdd8f5;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
}

.main-button:hover {
    background-color: #9eafd3;
}

/* Контейнер для підкнопок і контенту */
.content-area {
    display: flex;
    gap: 20px;
    width: 100%;
}

/* Підкнопки */
.hidden-buttons-container {
    position: relative;
    min-width: 150px;
}

.hidden-buttons {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.hidden-buttons button {
    padding: 8px 15px;
    background-color: #cdd8f5;
    color: black;
    border: 1px solid #d0def8;
    border-radius: 5px;
    cursor: pointer;
}

.hidden-buttons button:hover {
    background-color: #9eafd3;
}

/* Місце для тексту та зображення */
.text-container {
    flex-grow: 1;
    padding: 10px;
    background-color:#e4e9f7;
    color: rgb(0, 0, 0);
    border: 2px solid #d0def8;
    border-radius: 5px;
    display: none;
}

.text-container img {
    width: auto;
    max-height: 500px;
    object-fit: cover;
    margin-top: 10px;
}
pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 14px;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: #333;
}